In [1]:
import numpy as np
import pandas as pd
import xarray as xr
import os
import csv
import re

In [2]:
def csv2list(filename):
    lists = []
    file = open("../krafton/yt_krafton_content.csv", "r", encoding = 'utf-8')
    while True:
        line = file.readline().rstrip("\n")
        if line:
            line = line.split(",")
            lists.append(line)
        else:
            break
    return lists

content001 = csv2list("../krafton/yt_krafton_content.csv")

In [3]:
def csv2list(filename):
    lists = []
    file = open("../krafton/nv_krafton_content.csv", "r", encoding = 'utf-8')
    while True:
        line = file.readline().rstrip("\n")
        if line:
            line = line.split(",")
            lists.append(line)
        else:
            break
    return lists

content002 = csv2list("../krafton/nv_krafton_content.csv")

In [4]:
def csv2list(filename):
    lists = []
    file = open("../krafton/nv_krafton_total.csv", "r", encoding = 'utf-8')
    while True:
        line = file.readline().rstrip("\n")
        if line:
            line = line.split(",")
            lists.append(line)
        else:
            break
    return lists

content003 = csv2list("../krafton/nv_krafton_total.csv")

In [5]:
#def csv2list(filename):
#    lists = []
#    file = open("../mathpresso/nv_qanda_total.csv", "r", encoding = 'utf-8')
#    while True:
#        line = file.readline().rstrip("\n")
#        if line:
#            line = line.split(",")
#            lists.append(line)
#        else:
#            break
#    return lists

#content004 = csv2list("../mathpresso/nv_mathpresso_total.csv")

In [6]:
content000 = []
content000.extend(content001)
content000.extend(content002)
content000.extend(content003)
#content000.extend(content004)

In [7]:
content00 = sum(content000, [])
token001=re.sub(r'[-=+#/\:^$@*\"※~\&▶%ㆍ!』}{\;\‘|\_(\)\[\]\<\>`\'…》]+',"",str(content00))
token002=re.sub(r'[0-9A-Za-z]+',"",token001)
token003=re.sub(r'\\',"",token002)
token004=re.sub('  ',"",token003)
token005 = token004.split(',')
token006 = pd.DataFrame(token005)
token007 = token006[token006[0].map(len)>2]
token008 = token007.reset_index(drop=True)
token008

                                                      0
0     최신입의 첫 지스타 출장 번째 이야기 🏃♀️그.런.데 하라는 일은 안 하고 ❤️연애...
1     두 마리 토끼를 다 잡고 싶습니다.과연 그 사랑?의 결과는 어떻게 되었을지... ?...
2      안녕하세요 잘 지내셨나요?오랜만에 인사 드립니다. 최신입 입니다 🙇♀️태어나서 처...
3                                            가월 일부터 일까지
4     이틀간 진행됐습니다프로젝트 소개부터 자신만의 노하우를 공유하고새로운 인연을 만날 수...
...                                                 ...
1826                                ..부스 포스팅 바로가기 ....
1827                                        후기 포스팅 바로가기
1828                                              ....
1829                                              ....
1830   .?지스타후기지스타후기.?지스타지스타.?지스타리뷰지스타리뷰.?지스타넷마블지스타넷마...

[1831 rows x 1 columns]

In [8]:
#token008 = token008[0:1015]

In [9]:
token008.to_csv("./krafton_content.csv", mode="a", index=False, header=False)

In [10]:
content_list=[]

with open('./krafton_content.csv', 'r', encoding='utf-8') as f:
    csv_reader = csv.reader(f, delimiter = '\n')
    for row in csv_reader:
        content_list.append(row)

content_list = sum(content_list, [])
content_list[:5]

['최신입의 첫 지스타 출장 번째 이야기 🏃♀️그.런.데 하라는 일은 안 하고 ❤️연애❤️를?일과 사랑',
 '두 마리 토끼를 다 잡고 싶습니다.과연 그 사랑?의 결과는 어떻게 되었을지... ???지스타?크래프톤?게임회사',
 ' 안녕하세요 잘 지내셨나요?오랜만에 인사 드립니다. 최신입 입니다 🙇♀️태어나서 처음으로 지스타를 방문했는데요.으마으마한 스케일에 깜짝 놀랐답니다 😲하지만 가장 놀라웠던 건 아무래도 ✨크래프톤 야외부스✨연합사들의 다양한 컬러와 재미있는 부스 구성까지 크래프톤 부스로 다들 놀러오세요🏃♀️🏃♂️ ???지스타?크래프톤?게임회사',
 ' 가월 일부터 일까지',
 '이틀간 진행됐습니다프로젝트 소개부터 자신만의 노하우를 공유하고새로운 인연을 만날 수 있었던 훈훈한 그 현장 😙여러분들에게도 보여드리기 위해 가져왔습니다 칭찬해주세요 ??게임개발자?개발자???컨퍼런스']